@import 'variables';
*
{
    font-family: Arial, '文泉驛正黑', 'WenQuanYi Zen Hei', '儷黑 Pro', 'LiHei Pro', '微軟正黑體', 'Microsoft JhengHei', '標楷體', DFKai-SB, sans-serif;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
{
    position: relative;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: rgb(229, 227, 223);
}

#wrapper
{
    width: 100%;
    height: 100%;
}

#map-canvas
{
    width: 100%;
    height: 100%;
}

::selection
{
    /* WebKit/Blink Browsers */
    color: $inverse;
    background: $turquoise;
    ;
}

::-moz-selection
{
    /* Gecko Browsers */
    color: $inverse;
    background: $turquoise;
}

.clearfix
{
    overflow: auto;
}

.hidden
{
    display: none;
}

.pull-center
{
    text-align: center;
}


/* CSS Overlay */

.iui-overlay
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
}

.iui-modal
{
    position: fixed;
    z-index: 11;

    overflow: auto;

    width: 100%;
    height: 100%;

    text-align: center;

    color: $inverse;
    background-color: $midnight-blue;
}

.iui-overlay-close
{
    position: fixed;
    top: .5em;
    right: 1em;

    cursor: pointer;
}

.iui-content
{
    width: 90%;
    margin-top: 5%;
    .row
    {
        margin-bottom: 1em;
    }
}

.iui-modal-xs
{
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 200px;
    margin-top: -100px;
    margin-left: -150px;

    text-align: center;

    color: $inverse;
    border-radius: 5px;
    .row
    {
        margin-bottom: 20px;
    }
}

/* End CSS Overlay */
