/* Side Menu */

#sidebar-wrapper
{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;

    overflow-y: hidden;

    width: $panel-width;
    height: 100%;
    margin-right: -($panel-width);

    transition: all .4s ease 0s;

    background-color: #222;
}

#sidebar-wrapper.active
{
    right: $panel-width;

    width: $panel-width;

    transition: all .4s ease 0s;
}

.sidebar-panel
{
    overflow-x: hidden;
    overflow-y: auto;

    width: $panel-width;
    height: 100%;
    padding-bottom: 80px;
    .items
    {
        width: 100%;
        article
        {
            margin: 0;
            padding: 10px 20px;
            .ui-slider
            {
                margin: 35px 10px;
            }
            :after
            {
                display: table;
                clear: both;

                content: '';
            }
        }
    }
    .share
    {
        border-radius: 0;
        .btn-large
        {
            border-radius: 0;
        }
    }
}

#menu-toggle
{
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
}

#menu-toggle,
#menu-close
{
    font-size: 25px;
    &:hover
    {
        color: $turquoise;
    }
}

#article-conveyance
{
    label
    {
        margin-left: 20px;
    }
}

#article-form-time
{
    width: 100%;

    text-align: center;
    .share
    {
        width: 100%;
        > div
        {
            margin-bottom: 15px;
        }
    }
    .btn-group
    {
        float: none;
    }
    .btn-toolbar
    {
        margin-left: 0;
        .btn
        {
            padding: 0 3px;
        }
        .btn:first-child
        {
            border-top-left-radius: 4px;
        }
        .btn:last-child
        {
            border-top-right-radius: 4px;
        }
    }
}

.toggle
{
    z-index: 9999;

    margin: 5px 5px 0 0;
}

#datepicker
{
    background-color: $clouds;
}


/* 交通工具 */

#article-conveyance
{
    label:nth-child(2)
    {
        color: $belize-hole;
    }
    label:nth-child(3)
    {
        color: $green-sea;
    }
    label:nth-child(4)
    {
        color: $pomegranate;
    }
    label:nth-child(5)
    {
        color: $orange;
    }
}


/*出發時間*/

#select-form-time
{
    width: 80%;
    margin: 0 auto;
    span.input-group-addon
    {
        background-color: $peter-river;
    }
    .form-control,
    .input-group-addon
    {
        border-color: $peter-river;
    }
}
